/*Global  ================================================================================================*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
/*Base  ================================================================================================*/

body {
    font-family: 400 1rem 'DM sans', sans-serif;
}

h1 {
    font: 700 1.875rem 'Poppins', sans-serif;
}

/*Layout  ================================================================================================*/

header {
    height: 4.5rem;
}

a {
    text-decoration: none;
}

img {
    width: 50%;
    height: 50%;

}

nav {
    display: flex;
    justify-content: space-between;
}



#moreInformations {
    margin-left: 100%;
}

/*Layout  ================================================================================================*/